<ul><h2><%= link_to poem.title, poem_path(poem) %></h2></ul>
<ul><p>Published date: <%= poem.published_date %></p></ul>
<ul><p>Metaphore: <%= poem.metaphore %></p></ul>
<ul><p><%= poem.content %></p></ul>
