<ul><h2><%= link_to short_story.title, short_story_path(short_story)%></h2></ul>
<ul><p><%= short_story.published_date %></p></ul>
<ul><p><%= short_story.short_description %></p></ul>
<ul><p><%= short_story.content %></p></ul>
